<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Animal</title>
</head>
<body>
    <h1>Edit Animal</h1>

    <form action="/animals/<%= details[0]._id %>">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="<%= details[0].name %>">
        </div>
        <div>
            <label for="age">Age</label>
            <input type="text" name="age" value="<%= details[0].age %>">
        </div>
        <button>Submit</button>
    </form>

    <a href="/">Back</a>
</body>
</html>