<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Detail</title>
</head>
<body>
    <h1>Animal Details</h1>

    <% for(const detail of details){ %>
    <p>Name: <%= detail.name %></p>
    <p>Age: <%= detail.age %></p>
    <% } %>

    <a href="/">Back</a>
    <a href="/animals/edit/<%= details[0]._id %>">Edit</a>
    <form action="/animals/destroy/<%= details[0]._id %>"><input type="submit" value="Delete"></form>
</body>
</html>